*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:white;
    color:#333;
}

.container{
    width:90%;
    max-width:1100px;
    margin:auto;
}

/* header{
    background:#0d6efd;
    color:white;
    padding:30px 0;
    text-align:center;
} */

nav{
    background:#031830;
    border-bottom:2px solid #0d6efd;
    padding:15px 0;
    color: aliceblue;
    
}

.nav-flex{
    display:flex;
    justify-content:space-between;
    align-items:center;
}


nav .container{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
nav h1{
    margin:0;
    font-size:24px;
    font-weight:bold;
    color: #f4f8ff;
}
.nav-links a{
    text-decoration:none;
    color:white;
    margin-left: 35px;
    font-weight:bold;
    transition:0.3s;
}

.nav-links a:hover{
    color:#0d6efd;
}

/* HERO SECTION */

.hero{
    position:relative;
    height:90vh;
    overflow:hidden;
}

.bg-video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

.hero-content{
    position:relative;
    z-index:2;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    background:rgba(0, 63, 136, 0.6); /* blue overlay */
}

.hero-content h1{
    font-size:48px;
    margin-bottom:15px;
    animation: fadeSlide 3s ease-in-out infinite;
}
/* Infinite Animation */
@keyframes fadeSlide {
    0%{
        opacity:0;
        transform:translateY(20px);
    }
    50%{
        opacity:1;
        transform:translateY(0px);
    }
     100%{
        opacity:0;
        transform:translateY(-20px);
    }
}

.hero-content p{
    font-size:20px;
    max-width:600px;
}
.section{
    padding:60px 0;
    text-align:center;
}

.bg-light{
    background:#f4f8ff;
}

h2{
    color:#0d6efd;
    margin-bottom:20px;
}

.services{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
    gap:20px;
    margin-top:30px;
}

.card{
    background:white;
    padding:25px;
    border:1px solid #0d6efd;
    border-radius:8px;
    transition:0.3s;
    font-weight:bold;
}

.card:hover{
    background:#0d6efd;
    color:white;
    transform:translateY(-5px);
}

.buttons{
    margin-top:20px;
}

.btn{
    display:inline-block;
    padding:10px 20px;
    margin:10px;
    background:#0d6efd;
    color:white;
    text-decoration:none;
    border:none;
    border-radius:5px;
    cursor:pointer;
    transition:0.3s;
}

.btn:hover{
    background:#003f88;
}

/* CONTACT FORM */

.contact-form{
    max-width:500px;
    margin:30px auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.contact-form input,
.contact-form textarea{
    padding:12px;
    border:1px solid #0d6efd;
    border-radius:5px;
    font-size:16px;
    outline:none;
}

.contact-form input:focus,
.contact-form textarea:focus{
    border-color:#003f88;
}

.form-message{
    margin-top:15px;
    font-weight:bold;
    color:#0d6efd;
}

.contact-info{
    margin-top:25px;
}
/* CONTACT BUTTONS */

.contact-buttons{
    margin-top:25px;
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.contact-btn{
    display:flex;
    align-items:center;
    gap:10px;
    padding:12px 25px;
    border-radius:5px;
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:0.3s;
    font-size:18px;
}

.whatsapp{
    background:#25D366;
}

.whatsapp:hover{
    background:#1ebe5d;
}

.gmail{
    background:#D44638;
    color:white;
}
.contact-btn i{
    font-size:22px;
}
footer{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:15px;
}